#  .gitignore 은 깃허브 목록에 올라가지 않았으면 하는 
# 파일 확장명을 작성하거나
# 올리지 않고 싶은 파일명을 작성해서 파일이 올라가지 못하도록
# 작성하는 공간
# 샾(#) 은 주석으로 설명이나  관련 내용을 작성하는 공간

#.mp4
# *(모두선택) 확장명 앞에 * 붙이는 것은 이와 관련된 모든 파일
#깃에 올라가지 못하도록 방지

*.mp4 # mp4(도영상) 파일 모두 올라가지 못하게 방지

# 올라가지 않았으면 하는 폴더 이름/
# 위처럼 작성할 경우 폴더명과 폴더명 밑에 있는 모든 파일 업로드 x

